<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Document</title>
</head>
<body>
    <p><a href='/store'>Back</a></p>
    {% if not products %}
    <p>No products to show</p>
    {% else %}
    {% for product in products %}
        <p>{{product.name}} <span class='smalltext'>(${{product.price}}) - <a href='/store/removefromcart/{{product.id}}'>Remove from cart</a></span></p>
    {% endfor %}
    <p>Total: ${{total}}</p>
    {% endif %}
</body>
</html>