<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>{{category.name}}</title>
</head>
<body>
    <p><a href='/store'>Back</a> | <a href='/logout'>Log Out</a></p>
    {% for subcategory in subcategories %}
    <h2><a href='/store/category/{{category.id}}/{{subcategory.id}}'>{{subcategory.name}}</a></h2>
    {% for product in subcategory.products.all %}
    <p><a href='/store/product/{{product.id}}'>{{product.name}}</a> <span class='smalltext'> (${{product.price}}) - <a href='/store/addtocart/{{product.id}}'>Add to cart</a></span></p>
    {% endfor %}
    {% endfor %}
</body>
</html>