<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>{{product.name}}</title>
</head>
<body>
    <p><a href='/store'>Back</a> | <a href='/logout'>Log Out</a></p>
    <h2>{{product.name}}</h2>
    {% if product.subcategory.count == 1 %}
    <p><a href='/store/category/{{product.category.id}}'>{{product.category.name}}</a> - <a href='/store/category/{{product.category.id}}/{{product.subcategory.first.id}}'>{{product.subcategory.first.name}}</a></p>
    {% elif product.subcategory.count == 2 %}
    <p><a href='/store/category/{{product.category.id}}'>{{product.category.name}}</a> - <a href='/store/category/{{product.category.id}}/{{product.subcategory.first.id}}'>{{product.subcategory.first.name}}</a> / <a href='/store/category/{{product.category.id}}/{{product.subcategory.last.id}}'>{{product.subcategory.last.name}}</a></p>
    {% endif %}
    <p>${{product.price}}</p>
    <p><a href='/store/addtocart/{{product.id}}'>Add to cart</a></p>
</body>
</html>